<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<html>


<head>

<title>Reservar hora</title>

</head>
 
<body>
    <div class="alert alert-info" role="alert">
        Aquí se puede ver el historial de sanciones de cada Usuario Y si deseas agregar otra sanción.
      </div>
  
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Action
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Agregar una Sanción</a></li>
          <li><a class="dropdown-item" href="#">Quitar 1 Sanción</a></li>
<!-- Puse un boton para que aplicara o quitara la sanción al usuario, cuando lo veas me dices si está mal, para arreglarlo -->
        </ul>
      </div>




    <a href="/verUsuarios/">Volver</a>

</body>
