<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<div class="alert alert-primary" role="alert">
    <h2>Has iniciado sesion correctamente</h2>
  </div>
  <h5><div class="alert alert-success" role="alert">
    Bienvenido a nuestro sistema
    <h4>{{user}}</h4></div></h5> 
 

<h6>Selecciona una de esta opciones para avanzar <span class="badge bg-secondary"></span></h6>
<button type="button" class="btn btn-light"><a href="/verUsuarios/">Usuarios</a></button>
<button type="button" class="btn btn-light"><a href="/verReservas/">Reservas</a></button>

<h6>Puedes cerrar tu sesión aqui:<span class="badge bg-secondary"></span></h6>
<button type="button" class="btn btn-light"><a href="/login/">Cerrar Sesión</a></button>